<header>
    <div class="main-header">
        <div class="left-header">
            <button onclick="location.href='{{ url_for('index') }}'">L.P.A</button>
        </div>
        
        <div class="right-header" >
            <div class="row">
                <button onclick="location.href='{{ url_for('aboutme') }}'">About Me</button>
                <button onclick="location.href='{{ url_for('skills') }}'">Skills/Certs</button>
                <button onclick="location.href='{{ url_for('projects') }}'">Projects</button>
                <button onclick="location.href='{{ url_for('contact') }}'">Contact</button>
            </div>
        </div>
    </div>
</header>